<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>

</header>

<main>
    <div class="jumbotron" style="text-align: center;">
        <h1>Mohamed Mouine, my only love...</h1>
        <img src="I-love-you-quotes-for-him.jpg" alt="">
        <br>
        <h2><a href="/login">Click here to go to the login page</a></h2>
    </div>
</main>

<footer>
</footer>

</body>
</html>