<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
    <div class="jumbotron">
        <form method="post" action="/login">
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
        
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
        
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</main>

<footer>
</footer>

</body>
</html>