<!-- views/pages/userprofile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>

</header>

<main>
    <div class="jumbotron" style="text-align: center;">
        <h1>WELCOME TO YOUR PROFILE !!!</h1>
        <h1><%= user %></p>
    </div>
</main>

<footer>
</footer>

</body>
</html>